%section
  = link_to "http://series.c3w.de/series/search/Castle", "/series/search/Castle"
  %br
  = link_to "http://series.c3w.de/series/83462", "/series/83462"
  %br
  = link_to "http://series.c3w.de/series/83462/5", "/series/83462/5"
  %br
  = link_to "http://series.c3w.de/series/83462/5/1", "/series/83462/5/1"
